# Node dependencies
node_modules/

# Expo and React Native specific
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Build artifacts
android/app/build/
ios/build/
*.apk
*.aab

# Native Android/iOS keys and credentials
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro bundler cache
.metro/
.metro-cache/
.metro-health-check/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# macOS files
.DS_Store

# Local env files
.env
.env*.local

# TypeScript cache
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.pem
*.tmp
*.swp

# Example placeholder
app-example